.Dashborad {
    display: flex;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    padding: 0 15dvw;
    flex-wrap: wrap;
    gap: 1rem;
}