.NavItem {
    padding: .25rem .5rem;
    transition: background-color 300ms ease-in-out, color 300ms linear;
    font-weight: 800;
}

.NavItem:hover,
.NavItem:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}