:root {
    --light-slider-background-idle: rgb(204, 204, 204);
    --light-slider-background-checked: rgb(0, 160, 189);

    --dark-slider-background-idle: rgb(151, 151, 151);
    --dark-slider-background-checked: rgb(0, 66, 153);
}

.Switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
}

.Switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2rem;
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;
}

.Slider::before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: .25rem;
    bottom: .25rem;
    border-radius: 2rem;
    background-color: white;
    -webkit-transition: transform 400ms;
    transition: transform 400ms;
}

.Slider.light {
    background-color: var(--light-slider-background-idle);
}

.Slider.dark {
    background-color: var(--dark-slider-background-idle);
}

input:checked+.Slider.light {
    background-color: var(--light-slider-background-checked);
}

input:checked+.Slider.Slider.dark {
    background-color: var(--dark-slider-background-checked);
}

input:checked+.Slider::before {
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
}