.NavBar {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;

    box-shadow: 0 0 .25rem black;
    list-style: none;
    overflow: hidden;
    transition: background-color 200ms linear, border 200ms linear;
}

.NavBar.light {
    border: .25rem solid var(--light-header-background);
    background-color: var(--light-background);
}

.NavBar.dark {
    border: .25rem solid var(--dark-header-background);
    background-color: var(--dark-background);
}